@keyframes fade
{
    from {opacity: 1;}
    to {opacity: 0;}
}

body,
donut
{
	display: block;
	background: rgb(240,240,245);
	color: black;
}

donut,
donut *
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: transparent;
	background: none;
	color: black;
	font-family: Avenir Next, Avenir, Futura;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	vertical-align: baseline;
	border: none;
	border-color: black;
	border-radius: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

donut *:active,
donut *:focus
{
	outline: none;
}

donut p,
donut .p
{
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}

donut b,
donut .b
{
	font-weight: bold;
}

donut u,
donut .u
{
	text-decoration: underline;
}

donut o,
donut .o
{
	text-decoration: overline;
}

donut i,
donut .i
{
	font-style: italic;
}

donut sub,
donut .sub,
donut sup,
donut .sup
{
	font-size: 0.65em;
}

donut sub,
donut .sub
{
	vertical-align: sub;
}

donut sup,
donut .sup
{
	vertical-align: super;
}

donut h1,
donut .h1,
donut h2,
donut .h2,
donut h3,
donut .h3
{
	font-weight: bold;
	margin: 5px 0;
}

donut h1,
donut .h1,
donut h2,
donut .h2
{
	border-bottom: 1px solid;
}

donut h1,
donut .h1
{
	font-size: 2em;
}

donut h2,
donut .h2
{
	font-size: 1.6em;
}

donut h3,
donut .h3
{
	font-size: 1.2em;
}

donut button,
donut .button,
donut btn,
donut .btn
{
	display: inline-block;
	font-weight: bold;
	font-size: 0.85em;
	background: rgb(155,155,155,0.1);
	border: 1px solid transparent;
	border-radius: 8px;
	margin: 2px;
	padding: 3px 8px;
	transition: 200ms;
}

donut button:hover,
donut .button:hover,
donut btn:hover,
donut .btn:hover
{
	border: 1px solid black;
}

donut button:active,
donut .button:active,
donut btn:active,
donut .btn:active
{
	background: none;
	border-color: transparent;
}

donut a,
donut .a
{
	display: inline;
	color: rgb(50,150,255);
	font-weight: bold;
	transition: 200ms;
}

donut a:hover,
donut .a:hover
{
	color: rgb(50,150,255);
	text-decoration: underline overline;
	background: none;
}

donut a:active,
donut .a:active
{
	color: white;
	background: rgb(50,150,255);
}

donut img,
donut .img
{
	max-width: 100%;
	border-radius: 8px;
}

donut ::placeholder
{
	color: rgba(155,155,155,0.8);
}

donut input,
donut .input,
donut textarea,
donut .textaea
{
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	display: inline-block;
	resize: none;
	background: rgba(155,155,155,0.15);
	text-align: center;
	margin: 3px;
	padding: 2px 8px;
}

donut input,
donut .input
{
	border-radius: 10px;
}

donut textarea,
donut .textarea
{
	border-radius: 3px;
}

donut ::marker
{
	width: 20px;
	font-weight: bold;
}

donut ol > ol > li,
donut ul > ul > li
{
	margin: 10px 0px 10px 40px;
}

donut ol > ol > ol > li,
donut ul > ul > ul > li
{
	margin: 10px 0px 10px 60px;
}

donut ol > ol > ol > ol > li,
donut ul > ul > ul > ul > li
{
	margin: 10px 0px 10px 80px;
}

donut li
{
	margin: 10px 0px 10px 20px;
}

donut table
{
	border-collapse: collapse;
}

donut th,
donut td
{
	text-align: center;
	border: 1px solid;
	padding: 5px;
}

donut tr:first-child > th,
donut tr:first-child > td
{
	border-top: none;
}

donut tr:last-child > th,
donut tr:last-child > td
{
	border-bottom: none;
}

donut th:first-child,
donut td:first-child
{
	border-left: none;
}

donut th:last-child,
donut td:last-child
{
	border-right: none;
}

donut th
{
	font-weight: bold;
	border-color: black;
}

donut td
{
	border-color: rgb(155,155,155,0.3);
}

donut code,
donut .code,
donut code > *,
donut .code > *
{
	font-family: "Bitstream Vera Sans Mono","DejaVu Sans Mono",Menlo!important;
}

donut code,
donut .code
{
	display: inline-block;
	max-width: calc(100% - 10px);
	background: rgba(155,155,155,0.1);
	font-size: 0.8em;
	white-space: nowrap;
	border-radius: 4px;
	margin: 5px 0;
	padding: 3px 5px;
	overflow: scroll;
}

donut code > red,
donut .code > red
{
	color: rgb(255,0,0);
}

donut code > orange,
donut .code > orange
{
	color: rgb(230,140,0);
}

donut code > yellow,
donut .code > yellow
{
	color: rgb(200,200,0);
}

donut code > lime,
donut .code > lime
{
	color: rgb(20,210,20);
}

donut code > green,
donut .code > green
{
	color: rgb(0,150,0);
}

donut code > aqua,
donut .code > aqua
{
	color: rgb(50,150,255);
}

donut code > blue,
donut .code > blue
{
	color: rgb(0,25,200);
}

donut code > gray,
donut .code > gray
{
	color: rgb(200,200,200);
}

donut note,
donut .note
{
	display: inline-block;
	background: rgba(255,255,0,0.2);
	color: rgb(200,200,0);
	border-left: 1px solid rgb(200,200,0);
	border-radius: 0 6px 6px 0;
	margin: 2px 0;
	padding: 2px 6px;
}

donut note[type="comment"],
donut .note[type="comment"]
{
	background: rgba(200,200,200,0.2);
	color: rgb(155,155,155);
	border-color: rgb(155,155,155);
}

donut note[type="info"],
donut .note[type="info"]
{
	background: rgba(100,200,255,0.2);
	color: rgb(50,150,255);
	border-color: rgb(50,150,255);
}

donut note[type="warning"],
donut .note[type="warning"]
{
	background: rgba(255,200,0,0.2);
	color: rgb(255,155,0);
	border-color: rgb(255,155,0);
}

donut note[type="critical"],
donut .note[type="critical"]
{
	background: rgba(255,50,20,0.2);
	color: rgb(255,50,20);
	border-color: rgb(255,50,20);
}

@media (prefers-color-scheme: dark)
{
	donut,
	body
	{
		background: rgb(20,20,25);
	}
	
	body,
	donut,
	donut *
	{
		color: white;
		border-color: white;
	}
	
	donut button:hover,
	donut .button:hover,
	donut btn:hover,
	donut .btn:hover
	{
		border: 1px solid white;
	}
	
	donut th
	{
		border-color: white;
	}
	
	donut code > red,
	donut .code > red
	{
		color: rgb(255,100,80);
	}
	
	donut code > orange,
	donut .code > orange
	{
		color: rgb(255,170,100);
	}
	
	donut code > yellow,
	donut .code > yellow
	{
		color: rgb(255,255,100);
	}
	
	donut code > lime,
	donut .code > lime
	{
		color: rgb(150,255,150);
	}
	
	donut code > green,
	donut .code > green
	{
		color: rgb(60,200,60);
	}
	
	donut code > aqua,
	donut .code > aqua
	{
		color: rgb(100,200,255);
	}
	
	donut code > blue,
	donut .code > blue
	{
		color: rgb(0,100,255);
	}
	
	donut code > gray,
	donut .code > gray
	{
		color: rgb(100,100,100);
	}
}
